@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@media screen and (max-width: 1200px) {
  body main #intro {
    flex-direction: column-reverse;
    padding: 4rem 5%;
  }
  body main #intro .text {
    width: 100%;
    align-items: center;
  }
  body main #intro .sidepart {
    height: 50%;
    width: 100%;
    justify-content: center;
  }
  body main #intro .sidepart .sidebox {
    height: 100%;
    width: unset;
    aspect-ratio: 1/1;
    text-align: center;
  }
  body main #intro .sidepart .sidebox img {
    height: 100%;
  }
  body main .about-outerBox #about {
    flex-direction: column;
    align-items: center;
  }
  body main .about-outerBox #about .side-section {
    width: 100%;
    height: 45vh;
  }
  body main .about-outerBox #about .side-section .my-image {
    height: 45vh;
    width: unset;
    display: flex;
    justify-content: center;
  }
  body main .about-outerBox #about .side-section .my-image img {
    height: 100%;
    width: unset;
  }
  body main .about-outerBox #about .about-me {
    width: 100%;
  }
  body main .about-outerBox #about .about-me .about-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  body main .about-outerBox #about .about-me .about-desc p {
    font-size: medium;
  }
}
@media screen and (max-width: 768px) {
  body main #cursor {
    display: none;
  }
  body main header .last .nav-links {
    display: none;
  }
  body main header .last .hamburger {
    display: block;
  }
  body main #intro .text {
    gap: 2rem;
  }
  body main #intro .text h1 {
    font-size: 2rem;
  }
  body main #intro .text h1 name {
    font-size: 3rem;
  }
  body main #intro .text p {
    font-size: medium;
  }
  body main #projects {
    padding: 1rem 5%;
  }
  body main #projects #projects-title {
    font-size: 2rem;
  }
  body main #projects .projects-outerBox a {
    font-size: 1.5rem;
  }
  body main #projects .projects-outerBox a .project-box {
    width: 50vw;
    max-height: 30vw;
  }
  body main #projects .projects-outerBox a .project-box img {
    border-radius: 0.5rem;
  }
  body main #projects .projects-lower {
    margin-top: 5rem;
  }
  body main #projects .projects-lower a {
    padding: 0.5rem 1rem;
    font-size: smaller;
  }
  body main .about-outerBox #about .about-me {
    width: 100%;
  }
  body main .about-outerBox #about .about-me .about-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  body main .about-outerBox #about .about-me .about-desc p {
    font-size: smaller;
  }
  body main footer {
    flex-direction: column-reverse;
    height: unset;
    padding: 2rem 5%;
    gap: 4rem;
  }
  body main footer .left-section {
    gap: 4rem;
    padding-right: 0;
  }
  body main footer .left-section .upper {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    justify-content: center;
  }
  body main footer .left-section .upper .social-links a {
    font-size: x-small;
  }
  body main footer .left-section .lower q {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 570px) {
  body main #projects .projects-outerBox ul li a {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  body main #intro .sidepart .sidebox {
    width: 80vw;
    height: unset;
    aspect-ratio: 1;
  }
  body main #intro .sidepart .sidebox img {
    width: 100%;
    height: unset;
  }
  body main #projects .projects-outerBox ul li a .project-box {
    display: none;
  }
}
:root {
  --special-color: #FFE74C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #eee;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #fff196;
  color: #555;
}
*::selection {
  background-color: #fff196;
  color: #555;
}

html {
  scroll-padding-top: 6rem;
}

body {
  background: linear-gradient(to bottom, #181818 10rem, #333);
}

main {
  width: 100%;
}

main::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

.scrollTrigger {
  position: fixed;
  bottom: calc(40% - 7rem);
  left: 0;
  width: 100%;
  height: 1px;
}

#cursor {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 1rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  pointer-events: none;
  z-index: 9999;
  border: 2px solid var(--special-color);
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-in-out;
}

header {
  width: 100%;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: transparent;
  display: grid;
  place-items: center;
}
header nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--special-color);
  display: grid;
  place-items: center;
}
header nav .logo p {
  color: #181818;
  font-family: "Charm", cursive;
  font-size: large;
}
header nav .last {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header nav .last .nav-links {
  display: flex;
  gap: 3rem;
}
header nav .last .nav-links a {
  text-decoration: none;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  color: #aaa;
}
header nav .last .nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
header nav .last .nav-links .active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: #eee;
}
header nav .last button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: var(--special-color);
  color: #181818;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
header nav .last button:hover {
  box-shadow: 0 0 1rem 0 rgba(255, 231, 76, 0.1);
}
header nav .last .hamburger {
  display: none;
}
header nav .last .hamburger .menu {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
header nav .last .hamburger .menu:hover {
  box-shadow: none;
}
header nav .last .hamburger .line {
  fill: none;
  stroke: #eee;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header nav .last .hamburger .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header nav .last .hamburger .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
header nav .last .hamburger .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header nav .last .hamburger .opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header nav .last .hamburger .opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
header nav .last .hamburger .opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header .navbar {
  display: none;
  background-color: #181818;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: transfrom 0.3s ease-in-out;
}
header .navbar .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}
header .navbar .links a {
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.358);
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #aaa;
}
header .navbar .links .active {
  color: #eee;
}
header .navbar .links .active::before {
  content: "⬤  ";
  color: #FFE74C;
}

#intro {
  height: calc(100vh - 3.5rem - 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 12.5%;
  padding-bottom: 6rem;
  gap: 4rem;
  background-color: #181818;
}
#intro .text {
  width: 45%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#intro .text h1 {
  font-size: 3rem;
  width: -moz-max-content;
  width: max-content;
}
#intro .text h1 name {
  display: block;
  position: relative;
  font-size: 4.5rem;
  color: var(--special-color);
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s alternate steps(15, end) infinite;
}
#intro .text h1 name::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background-color: currentColor;
  animation: blink 1s steps(1, end) infinite;
}
#intro .text h1 name::-moz-selection {
  background-color: var(--special-color);
  color: #181818;
}
#intro .text h1 name::selection {
  background-color: var(--special-color);
  color: #181818;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  30%, 100% {
    width: 100%;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#intro .text h1::-moz-selection {
  background-color: var(--special-color);
  color: #555;
}
#intro .text h1::selection {
  background-color: var(--special-color);
  color: #555;
}
#intro .text p {
  color: #aaa;
  font-size: x-large;
}
#intro .text p::-moz-selection {
  background-color: var(--special-color);
  color: #555;
}
#intro .text p::selection {
  background-color: var(--special-color);
  color: #555;
}
#intro .sidepart {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
#intro .sidepart .sidebox {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 50% 30% 50% 24%;
  background-color: var(--special-color);
  box-shadow: 0 0 8rem 0 rgba(255, 231, 76, 0.3);
  animation: glowup alternate 3s infinite;
}
@keyframes glowup {
  from {
    box-shadow: 0 0 1rem 0 rgba(255, 231, 76, 0.3);
  }
  to {
    box-shadow: 0 0 8rem 0 rgba(255, 231, 76, 0.3);
  }
}
#intro::after {
  content: "";
  position: absolute;
  bottom: -15rem;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 15rem;
  background-color: #181818;
  border-radius: 0 0 20rem 20rem;
}

#projects {
  width: 100%;
  padding: 1rem 12.5%;
  margin: 25rem 0 20rem;
}
#projects #projects-title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
#projects #projects-title::-moz-selection {
  color: #181818;
}
#projects #projects-title::selection {
  color: #181818;
}
#projects .projects-outerBox {
  width: 100%;
  display: grid;
  margin-top: 7rem;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#projects .projects-outerBox ul {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  opacity: 0;
}
#projects .projects-outerBox ul li {
  list-style: none;
}
#projects .projects-outerBox ul li a {
  position: relative;
  width: 100%;
  text-decoration: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-size: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.358);
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}
#projects .projects-outerBox ul li a .project-box {
  display: none;
  position: fixed;
  bottom: 5rem;
  left: 5rem;
  width: 30rem;
  max-height: 20rem;
  z-index: 99;
}
#projects .projects-outerBox ul li a .project-box img {
  width: 100%;
  border-radius: 1rem;
}
#projects .projects-outerBox ul li a .project-technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#projects .projects-outerBox ul li a .project-technologies span {
  font-family: unset;
  text-transform: capitalize;
  font-size: x-small;
  padding: 5px 10px;
  border-radius: 1rem;
  color: #aaa;
  border: 1px solid #aaa;
}
#projects .projects-outerBox ul li a p {
  text-align: center;
}
#projects .projects-outerBox ul li a span, #projects .projects-outerBox ul li a p {
  font-family: "Charm", cursive;
}
#projects .projects-outerBox ul li a:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.358);
}
#projects .projects-outerBox ul li a:hover {
  background-color: var(--special-color);
}
#projects .projects-outerBox ul li a:hover span,
#projects .projects-outerBox ul li a:hover p {
  color: #181818;
}
#projects .projects-outerBox ul li a:hover .project-box {
  display: block;
}
#projects .projects-lower {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  height: -moz-max-content;
  height: max-content;
}
#projects .projects-lower a {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: var(--special-color);
  border-radius: 5rem;
  color: #181818;
  transition: box-shadow 0.3s ease-in-out;
}
#projects .projects-lower a arrow {
  display: inline-block;
  color: #181818;
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
}
#projects .projects-lower a:hover {
  box-shadow: 0 0 2rem 0 rgba(255, 231, 76, 0.1);
}
#projects .projects-lower a:hover arrow {
  animation: forward 0.5s alternate infinite ease-out;
}
@keyframes forward {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1rem);
  }
}

.about-outerBox {
  width: 100%;
  padding: 25rem 0;
  background-color: #181818;
  border-radius: 20rem 20rem 0 0;
}
.about-outerBox #about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  min-height: calc(100vh - 3.5rem - 1rem);
  padding: 1rem 12.5%;
}
.about-outerBox #about .side-section {
  width: 45%;
  display: grid;
  place-items: center;
  height: -moz-max-content;
  height: max-content;
}
.about-outerBox #about .side-section .my-image {
  position: relative;
  width: 80%;
}
.about-outerBox #about .side-section .my-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: var(--special-color);
  z-index: 1;
  border-radius: 15rem 8rem 18rem 12rem;
}
.about-outerBox #about .side-section .my-image img {
  position: relative;
  border-radius: 0 0 18rem 12rem;
  width: 100%;
  z-index: 2;
}
.about-outerBox #about .about-me {
  width: 45%;
}
.about-outerBox #about .about-me .about-title {
  width: 100%;
  font-size: 4rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.about-outerBox #about .about-me .about-title::-moz-selection {
  color: #181818;
}
.about-outerBox #about .about-me .about-title::selection {
  color: #181818;
}
.about-outerBox #about .about-me .about-desc {
  word-spacing: 4px;
  display: grid;
  gap: 2rem;
}
.about-outerBox #about .about-me .about-desc p {
  color: #aaa;
  line-height: 150%;
  font-size: large;
  text-align: justify;
}
.about-outerBox #about .about-me .about-desc p name {
  font-size: larger;
  color: var(--special-color);
}
.about-outerBox #about .about-me .technology-title {
  width: 100%;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.about-outerBox #about .about-me .technology-title::-moz-selection {
  color: #181818;
}
.about-outerBox #about .about-me .technology-title::selection {
  color: #181818;
}
.about-outerBox #about .about-me .technologies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 10px;
}
.about-outerBox #about .about-me .technologies div {
  padding: 5px 15px;
  text-transform: capitalize;
  border-radius: 5rem;
  border: 1px solid #aaa;
  color: #aaa;
  transition: box-shadow 0.3s ease-in-out;
  font-size: small;
}

footer {
  position: relative;
  width: 100%;
  background-color: #181818;
  border-top: 1px solid var(--special-color);
  padding: 3rem 12.5%;
  height: 27rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
footer::before {
  display: block;
  content: "";
  width: 85%;
  height: 8px;
  position: absolute;
  top: calc(-8px / 2);
  left: 7.5%;
  border-radius: 1rem;
  background-color: var(--special-color);
}
footer .left-section {
  width: 65%;
  height: 100%;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .left-section .upper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 4rem;
}
footer .left-section .upper .logo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--special-color);
  display: grid;
  place-items: center;
}
footer .left-section .upper .logo p {
  color: #181818;
  font-family: "Charm", cursive;
  font-size: large;
}
footer .left-section .upper .social-links {
  display: flex;
  gap: 1rem;
}
footer .left-section .upper .social-links a {
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid #eee;
  font-size: small;
  cursor: pointer;
  border-radius: 1rem;
}
footer .left-section .upper .social-links a:hover {
  border-color: transparent;
}
footer .left-section .upper .social-links #github:hover, footer .left-section .upper .social-links #x:hover {
  background-color: #ddd;
  color: #111;
}
footer .left-section .upper .social-links #linkedin:hover {
  background-color: #0e76a8;
  color: #fff;
}
footer .left-section .upper .social-links #instagram:hover {
  background: linear-gradient(to right bottom, #8a3ab9, #fd5c63, #b92337);
  color: #fff;
}
footer .left-section .upper .social-links #replit:hover {
  background-color: #f26429;
  color: #fff;
}
footer .left-section .lower {
  height: -moz-max-content;
  height: max-content;
  position: relative;
  bottom: 1rem;
}
footer .left-section .lower q {
  color: #aaa;
}
footer .line {
  margin: auto 3rem;
  height: 80%;
  width: 2px;
  background-color: var(--special-color);
  border-radius: 1rem;
}
footer .right-section .contact-form {
  height: 21rem;
}
footer .right-section .contact-form .contact-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
footer .right-section .contact-form form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  font-size: small;
}
footer .right-section .contact-form form label {
  margin-bottom: 10px;
}
footer .right-section .contact-form form input, footer .right-section .contact-form form textarea {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 20px;
  resize: none;
  color: #181818;
}
footer .right-section .contact-form form button {
  padding: 10px;
  border: none;
  border-radius: 1rem;
  background-color: var(--special-color);
  color: #181818;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */