@use 'var';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$main-font-family;
}

#working-body {
    height: 100vh;
    width: 100%;
    padding: 3rem 12.5%;
    display: grid;
    place-items: center;
    background-color: var.$primary-background-color;
    overflow: hidden;

    main {
        width: 100%;
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;

        .image {
            width: 100%;
            height: 100%;
            display: flex;

            img {
                max-width: 100%;
                max-height: 65vh;
                aspect-ratio: 1/1;
            }
        }

        .content {
            position: relative;
            max-width: 40rem;
            width: 100%;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            h1 {
                color: var.$primary-background-color;
                text-align: center;
                font-size: 3rem;
            }

            p {
                text-align: center;
                color: var.$secondary-background-color;
                font-size: 1rem;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                aspect-ratio: 1/1;
                transform: rotate(-55deg);
                border-radius: 10rem 12rem 8rem 6rem;
                background-color: var.$special-color;
                z-index: -1;
            }
        }

    }
}

@media screen and (max-width: 1200px) {
    .content {
        h1 {
            font-size: 2rem !important;
        }

        p {
            font-size: 10px !important;
        }
    }
}

@media screen and (max-width: 900px) {
    body {
        padding: 1rem 5%;

        main {
            flex-direction: column;
            gap: 4rem;

            .image {
                justify-content: center;
            }

            .content {
                height: max-content;
                aspect-ratio: unset;
                padding-top: 2rem;

                h1 {
                    font-size: 2rem !important;
                }

                p {
                    width: 50vw;
                    font-size: 10px !important;
                }

                &::after {
                    transform: rotate(-55deg) translate(-65%, 50%);
                }
            }
        }
    }
}

@media screen and (max-width: 675px) {
    body main .content {
        gap: 20px;

        h1 {
            font-size: 1.5rem !important;
        }

        p {
            font-size: 10px !important;
        }

        &::after {
            bottom: 100% !important;
        }
    }
}

@media screen and (max-width: 400px) {
    body main .content {
        gap: 10px;

        h1 {
            font-size: 20px !important;
        }

        p {
            font-size: 8px !important;
        }

        &::after {
            bottom: 100% !important;
        }
    }
}